.side-nav-menu {
    order: 2;
    flex-grow: 1;
    margin-top: 2.5rem;
    width: 100%;

    justify-content: space-between;
    display: flex;
    gap: 0.75rem;

    a{
        font-size: 1.1rem;
        text-align: center;
        
        .submenu-icon {
             display: none ;
        }

        svg path{
            fill: #786855;
        }
    }
}

@media screen and (min-width: 450px) {
    .side-nav-menu a {
        display: flex !important;
        align-items: center;
        font-size: 1.2rem;

        .submenu-icon {
            display: block !important;
        }
    }
}

@media screen and (min-width: 850px) {
    .side-nav-menu {
        order: 0 !important;
        margin-top: unset;
        margin-left: 2rem;
        justify-content: flex-start;
        gap: 1rem;
        width: auto;

        .submenu-icon {
            margin-left: 0px;
        }
    
        a{
            margin-right: 1rem;
            font-size: 1.3rem;
            gap: 0.5rem;
        }
    
        .menu{
            list-style: none;
            display: flex;
            gap: 1rem;
        }
    }
}


.menu-open .side-nav-menu { display: none !important;  }