@import "language-switcher";
@import "products";
@import "search-form";
@import "left-side-links";

// Variables
:root {
	--border: 1px solid rgba(255, 255, 255, 0.2);
	--menu-width: 300px;
	--header-height: 80px;
	--level-spacing: 40px;
	--menu-bg: #726353;
	--menu-bg-gradient: linear-gradient(90deg, #726353 30%, rgba(114, 99, 83, 0.9) 100%);
	--level-1-bg: #817466;
	--level-2-bg: #625547;
	--level-3-bg: #4a3f33;
	--menu-item-space: 1rem 2rem;
}

// Responsive menu widths
@media screen and (min-width: 600px) {
	:root {
		--menu-width: 400px;
	}
}

@media screen and (min-width: 900px) {
	:root {
		--menu-width: 600px;
	}
}

// Base styles
* {
	box-sizing: border-box;
}

// Menu overlay
.menu-overlay {
	position: fixed;
	top: var(--header-height);
	left: 0;
	width: 0%;
	height: 100%;
	z-index: 10;
	background: var(--menu-bg-gradient);
	transition: width 0.3s ease;
}

// Menu open state
.menu-open {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	.menu-overlay {
		width: 100%;
	}

	.mp-menu {
		box-shadow: 20px 0px 300px 0 #3a32299c;
	}
}

// Header styles
#side-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	height: var(--header-height);
	border-bottom: 1px solid #c1c1c1;
	position: relative;
	z-index: 1001;
	background: white;

	.logo {
		width: 140px;
		min-width: 140px;
	}

	@media screen and (min-width: 850px) {
		flex-wrap: nowrap;

		.logo {
			width: 200px;
		}
	}


	.menu-right {
		display: flex;
		flex-grow: 1;
		justify-content: flex-end;
		align-items: center;
	}
}

#trigger {
	min-width: 40px;
}

// Main menu structure
.mp-pusher {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 1000;
	perspective: 1000px;
	transition: transform 0.5s;

	a {
		color: white;
	}

	&::after,
	.mp-level::after,
	.mp-level::before {
		content: "";
		position: absolute;
		display: block;
		top: 0;
		right: 0;
		width: 0;
		height: 0;
		opacity: 0;
		background-color: transparent !important;
	}

	&::after,
	.mp-level::after {
		background: rgba(0, 0, 0, 0.3);
		transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
	}

	.mp-level::after {
		z-index: -1;
	}

	&.mp-pushed::after,
	.mp-level.mp-level-overlay::after {
		width: 100%;
		height: 100%;
		opacity: 1;
		transition: opacity 0.3s;
	}
}

// Main content
#main {
	width: 100%;
	transition: transform 0.5s;
	position: relative;
	left: 0;
	overflow-x: hidden;

	.mp-pusher.mp-pushed & {
		transform: translateX(var(--menu-width));
		overflow-y: auto;
		height: 100vh;
		position: fixed;
		width: 100%;
	}
}

// Menu levels
.mp-menu {
	position: absolute;
	top: var(--header-height);
	left: 0;
	z-index: 1;
	width: var(--menu-width);
	height: 100%;
	transform: translate3d(-100%, 0, 0);

	&.mp-overlap {
		.mp-level.mp-level-open {
			box-shadow: 1px 0 2px rgba(255, 255, 255, 0.2);
			transform: translate3d(-40px, 0, 0);
		}
	}

	>.mp-level,
	>.mp-level.mp-level-open,
	&.mp-overlap>.mp-level,
	&.mp-overlap>.mp-level.mp-level-open,
	&.mp-cover .mp-level.mp-level-open {
		transform: translate3d(0, 0, 0);
		box-shadow: none;
	}
}

// Level styles once open based on overlays
.mp-level {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--menu-bg);
	transform: translate3d(-100%, 0, 0);
	transition: transform 0.5s;

	&[data-level="1"] {
		background-color: var(--level-1-bg);
	}

	&[data-level="2"] {
		background-color: var(--level-2-bg);
	}

	&[data-level="3"] {
		background-color: var(--level-3-bg);
	}

	&.mp-level-overlay {
		cursor: pointer;

		>ul>li>a {
			border: 0;
		}

		>h2 {
			border: 0;
			position: absolute;
			top: 0;
			right: 0;
			transform: rotate(-90deg) translate(0%, -2.8rem);
			transform-origin: top right;
		}
	}
}

// Menu content
.mp-menu {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	h2 {
		margin: 0;
		padding: var(--menu-item-space);
		font-size: 0.5rem !important;
		text-transform: uppercase;
		font-family: "OfficinaSansITC-Regular", sans-serif;
		font-weight: 400 !important;
		color: white;
		font-size: 0.8rem !important;
		border-bottom: var(--border);


		&.mp-heading {
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 1em;
		}
	}

	.mp-back {
		padding: var(--menu-item-space);
		display: flex;
	}

	ul li>a {
		display: flex;
		justify-content: space-between;
		padding: var(--menu-item-space);
		font-size: 1.2rem;
		outline: none;
		border-bottom: var(--border);
		transition: background 0.3s, box-shadow 0.3s;

		&:hover {
			background: rgba(0, 0, 0, 0.2);
			box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
		}
	}
}

// Submenu styles
.sub-menu {
	height: fit-content;
	overflow-y: auto;
	scrollbar-width: none; // Firefox

	&::-webkit-scrollbar {
		display: none; // Chrome/Safari
	}
}

// Submenu icons
.submenu-icon {
	margin-left: 8px;
	display: inline-block;
	transition: transform 0.3s;
	font-size: 1.2em;

	.mp-level .mp-level>ul>li>a>& {
		margin-left: 5px;
		font-size: 1em;
	}

	.mp-menu ul li.menu-item-has-children>a:hover & {
		transform: translateX(3px);
	}
}


/* This will hide under menu hover effect */
.mp-level.mp-level-overlay.mp-level::before {
	width: 100%;
	height: 100%;
	background: transparent;
	opacity: 1;
}


// External Links

#external-links {
	margin-top: 2rem !important;

	a {
		display: flex;
		justify-content: space-between;
		padding: var(--menu-item-space);
		font-size: 1.2rem;
		outline: none;
		border-bottom: var(--border);
		transition: background 0.3s, box-shadow 0.3s;

		&:hover {
			background: rgba(0, 0, 0, 0.2);
			box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
		}
	}
}


// // **************************************************
// // Visual fixes for overlay levels level 2
// // **************************************************

.mp-level-overlay[data-level="1"] .level-1>li>a {
	border-bottom: 0 !important;
}

.mp-level-overlay[data-level="1"] .level-1>li>a>span {
	display: none !important;
}

.mp-level-overlay[data-level="1"] #external-links {
	display: none !important;
}

// // **************************************************
// // Visual fixes for overlay levels level 3
// // **************************************************

.mp-level-overlay[data-level="2"] .level-2>li>a {
	border-bottom: 0 !important;
}

.mp-level-overlay[data-level="2"] .level-2>li>a>span {
	display: none !important;
}



.mp-level.mp-level-open {
	overflow-y: auto;
	overflow-x: visible;
	padding-bottom: 120px;
}

.mp-level.mp-level-open.mp-level-overlay {
	overflow-y: unset;
	padding-bottom: 0;
}



// // **************************************************
// // Fixed on desktop
// // **************************************************


@media screen and (min-width: 950px) {
	#side-nav {
		position: fixed;
		top: 0;
		width: 100%;
	}

	body {
		padding-top: 80px;
	}

	.logged-in {
		padding-top: 80px;

		#side-nav {
			top: 32px;
		}
	}
}