<!-- wp:group {"tagName":"div","anchor":"main","layout":{"type":"default"}} -->
<div id="main" class="wp-block-group">
	<!-- wp:template-part {"slug":"header"} /-->

	<!-- wp:group {"tagName":"div","anchor":"content","layout":{"type":"default"}} -->
	<div id="content" class="wp-block-group">
		<!-- wp:group {"tagName":"div","className":"container","layout":{"type":"constrained"}} -->
		<div class="wp-block-group container">
			<!-- wp:post-title {"level":1} /-->
			<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"30px"}}}} /-->
			<!-- wp:group {"tagName":"div","anchor":"post-content","layout":{"type":"constrained"}} -->
			<div id="post-content" class="wp-block-group">
				<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"footer"} /-->
</div>
<!-- /wp:group -->
