<!-- wp:group {"tagName":"div","anchor":"main","layout":{"type":"default"}} -->
<div id="main" class="wp-block-group">
	<!-- wp:template-part {"slug":"header"} /-->

	<!-- wp:group {"tagName":"div","anchor":"content","layout":{"type":"default"}} -->
	<div id="content" class="wp-block-group">
		<!-- wp:group {"tagName":"div","className":"container","layout":{"type":"constrained"}} -->
		<div class="wp-block-group container">
			<!-- wp:query-title {"type":"archive","level":1} /-->
			<!-- wp:query {"queryId":0,"query":{"inherit":true},"layout":{"type":"default"}} -->
			<div class="wp-block-query">
				<!-- wp:post-template -->
					<!-- wp:post-title {"level":2,"isLink":true} /-->
					<!-- wp:post-excerpt /-->
				<!-- /wp:post-template -->
				<!-- wp:query-pagination -->
					<!-- wp:query-pagination-previous /-->
					<!-- wp:query-pagination-numbers /-->
					<!-- wp:query-pagination-next /-->
				<!-- /wp:query-pagination -->
				<!-- wp:query-no-results -->
					<!-- wp:paragraph --><p>Nichts gefunden.</p><!-- /wp:paragraph -->
				<!-- /wp:query-no-results -->
			</div>
			<!-- /wp:query -->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"footer"} /-->
</div>
<!-- /wp:group -->
