<!-- wp:group {"tagName":"div","anchor":"main","layout":{"type":"default"}} -->
<div id="main" class="wp-block-group">
	<!-- wp:template-part {"slug":"header"} /-->

	<!-- wp:group {"tagName":"div","anchor":"content","className":"no-image","layout":{"type":"default"}} -->
	<div id="content" class="wp-block-group no-image">
		<!-- wp:group {"tagName":"div","className":"container","layout":{"type":"default"}} -->
		<div class="wp-block-group container">
			<!-- wp:group {"tagName":"div","className":"row","layout":{"type":"default"}} -->
			<div class="wp-block-group row">
				<!-- wp:group {"tagName":"div","className":"col-3","layout":{"type":"default"}} -->
				<div class="wp-block-group col-3">
					<!-- wp:cows/modular-sidebar /-->
				</div>
				<!-- /wp:group -->

				<!-- wp:group {"tagName":"div","className":"col-2","layout":{"type":"default"}} -->
				<div class="wp-block-group col-2"></div>
				<!-- /wp:group -->

				<!-- wp:group {"tagName":"div","className":"col-7","layout":{"type":"default"}} -->
				<div class="wp-block-group col-7">
					<!-- wp:post-title {"level":1} /-->
					<!-- wp:post-content {"layout":{"type":"default"}} /-->
					<!-- wp:html -->
					<a href="#" id="go-top"></a>
					<!-- /wp:html -->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"footer"} /-->
</div>
<!-- /wp:group -->
