<!-- wp:group {"tagName":"div","anchor":"main","layout":{"type":"default"}} -->
<div id="main" class="wp-block-group">
	<!-- wp:template-part {"slug":"header"} /-->

	<!-- wp:group {"tagName":"div","anchor":"content","layout":{"type":"default"}} -->
	<div id="content" class="wp-block-group">
		<!-- wp:group {"tagName":"div","className":"container","layout":{"type":"default"}} -->
		<div class="wp-block-group container">
			<!-- wp:woocommerce/legacy-template {"template":"taxonomy-product_tag"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"footer"} /-->
</div>
<!-- /wp:group -->
